/* El estilo del encabezado donde principalmente se carga la imagen de fondo*/
header {

    /*Carga la imagen del fondo que está en el folder img*/
    background-image: url("img/background_cover.jpg");

    /*Define el tamaño de la imagen de fondo como tipo portada*/
    background-size: cover;

    /*Centra la portada en la página para los casos en los que se quiera tener márgenes a los lados*/
    background-position: center;

    position: relative;
}

/*header-text se refiere a que el texto que se ubica en el encabezado tiene propiedades distintas del resto del texto, esto se hace debido
a que en el encabezado se llaman a las etiquetas h1, h2 y demás, que no pueden compartir las mismas características que el resto del texto
que también sea etiquetado por h1, h2, y demás. header-title y header-quote comparten las mismas propiedades que header-text a excepción de su
padding el cual es diseño para que quede espacio entre el título del encabezado y la cita del encabezado con respecto al encabezado*/
.header-text, .header-title, .header-quote {
    color: #ffffff;
    margin-left: 1%;
}

/*Una de las etiquetas h1 es llamada con esta clase específica para que deje espacio arriba y abajo con tal de separar y subrayar el nombre*/
.header-title {
    padding-top: 1%;
    padding-bottom: 1%;
}

/*Una de las etiquetas h3 que se llama para la cita, deja espacio al final para que le dé más estética a la combinación del texto y el fondo*/
.header-quote {
    padding-top: 1%;
    padding-bottom: 1%;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/*La frase que se encuentra en el encabezado puede ser distinta al resto de frases que se vayan a incluir por lo que se especifica una clase
para la frase principal del encabezado*/
.blockquote-header {
    font-weight: normal;
    font-style: italic;
    border-left: 3px solid #ffffff;
    padding-left: 0.5%;
}

cite {
    font-weight: normal;
}

footer {
    text-align: center;
}

/*Se especifica la clase imagen de perfil ya que es el tipo de imagen al que se le buscará un contorno circular*/
.profile-img {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 50px;
    right: 50px;
}

